<mat-drawer-container autosize class="sidenav-container">
  <mat-drawer
    #drawer
    [opened]="isMobile() ? isOpened() : true"
    [mode]="isMobile() ? 'over' : 'side'"
    class="sidenav"
    [style.width.px]="isCollapsed() ? 80 : 280"
  >
    <div class="sidenav-user">
      <span class="user-avatar">EP</span>

      @if (!isCollapsed()) {
        <div class="user-name">
          <strong class="user-title">Erick Prado</strong>
          <span class="user-subtitle">Administrador</span>
        </div>
      }
    </div>
    <mat-nav-list aria-label="Menu principal" class="sidenav-menu">
      <a
        mat-list-item
        routerLink="/orcamentos"
        routerLinkActive="active"
        class="sidenav-menu-item"
        [class.collapsed]="isCollapsed()"
      >
        <mat-icon matListItemIcon>payments</mat-icon>

        @if (!isCollapsed()) {
          <span class="sidenav-menu-text">Orçamento</span>
        }
      </a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="sidenav-menu-item">
        <mat-icon matListItemIcon>contact_page</mat-icon>
        <span class="sidenav-menu-text">Adicionar Contato</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (menuToggle)="toggleMenu()"></app-header>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
